@{
    ViewBag.Title = "Home Page";
}

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Images/taxi.jpeg" id="bg" alt="">
            <style>
                #bg {
                    position: fixed;
                    top: 0;
                    left: 0;
                   
                    min-width: 100%;
                    min-height: 100%;
                }
            </style>

        </div>
    </div>

</div>
